@import url(https://fonts.google.com/specimen/Plus+Jakarta+Sans);

:root {
    --lime: hsl(61, 70%, 52%);
    --radio-border:hsla(61, 70%, 52%, 0.418);
    --red: hsl(4, 69%, 50%);
    --color-white: hsl(0, 0%, 100%);
    --color-slate-100: hsl(202, 86%, 94%);
    --color-slate-300: hsl(203, 41%, 72%);
    --color-slate-500: hsl(200, 26%, 54%);
    --color-slate-700: hsl(200, 24%, 40%);
    --color-slate-900: hsl(202, 55%, 16%);
}
.lime{
    color: var(--lime);
}
.color-slate-900{
    background-color: var(--color-slate-900);
}
.bg-lime{
    background-color: var(--lime);
}
.custom-error {
    font-size: 0.875rem; 
    font-weight: 300;
    color: var(--red);
}
.input-span{
    background-color: var(--color-slate-100);
}
.border-custom{
    border-color: var(--lime);
    border-width: 2px;
    border-style: solid;
    background-color: var(--radio-border);
   
    color: black;
}
.border-repay{
    border-top: 2px solid var(--lime);
}
.custom-radio-input {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;  /* outer circle color */
  border: 2px solid var(--lime);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
 
}
.result-border{
    border-bottom-left-radius: 50px;
}
/* Add custom center dot */
.custom-radio-input:checked::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color:var(--lime); /* ✅ Center dot color */
  border-radius: 50%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: rgb(227, 244, 252);
}

.custom-flex {
    display: flex;
    flex-direction: row;
  }

  
  
  
  
  @media (max-width: 320px) {
    .custom-flex {
      flex-direction: column;
    }
    .result-border{
    border-bottom-left-radius: 0;
}
  }